<form role="form">
    <div class="form-group">
        <label class="sr-only" >{{th.searchForm[0].label}}</label>
        <label ng-repeat="items in th.searchForm[0].values" for="{{th.searchForm[0].model}}">
            <input type="radio" ng-model="th.searchForm[0].val"  id="{{th.searchForm[0].model}}" name="th.searchForm[0].model" value="{{items.value}}">{{items.text}}
        </label>
        <button class="btn btn-primary" ng-click="searchFilter($index)"><i class="glyphicon glyphicon-search"></i></button>
    </div>
</form>
