<botton class="btn btn-primary add" ng-show="actionsCtrl.setting.enable.add" tooltip-placement="bottom" tooltip="{{actionsCtrl.setting.strings.add}}" ng-click="gsActionsAdd()">
    <i class="glyphicon glyphicon-plus" ></i>
</botton>
<botton class="btn btn-primary delete" ng-show="actionsCtrl.setting.enable.delete" tooltip-placement="bottom" tooltip="{{actionsCtrl.setting.strings.delete}}" ng-click="gsActionsDelete()">
    <i class="glyphicon glyphicon-remove" ></i>
</botton>
<botton class="btn btn-primary search" ng-show="actionsCtrl.setting.enable.search" tooltip-placement="bottom" tooltip="{{actionsCtrl.setting.strings.search}}" ng-click="gsActionsSearch()">
    <i class="glyphicon glyphicon-search" ></i>
</botton>