<div class="modal-header">
    <h3 class="modal-title">{{data.strings.deleteTitle}}</h3>
</div>
<div class="modal-body">
   {{data.strings.deleteQuestion}}
   <table class="table table-bordered" ng-show="data.actions.delete.showDeleteItems">
        <tbody>
            <tr ng-repeat="tr in rows">
                <td ng-repeat="td in tr.data">{{td}}</td>
            </tr>
        </tbody>
   </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="yes()">{{data.strings.deleteYes}}</button>
    <button class="btn btn-warning" ng-click="no()">{{data.strings.deleteNo}}</button>
</div>